@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #f7da64 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #f7da64;
  border-color: #f7da64;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #f3c91b;
  border-color: #f3c91b;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f3c91b !important;
  border-color: #f3c91b !important;
}
.btn-secondary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #e9bd0c;
  color: #e9bd0c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #f7da64;
  border-color: #f7da64;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f7da64 !important;
  border-color: #f7da64 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #f7da64 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #f7da64;
}
.btn-social:hover {
  background: #f7da64;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #f7da64;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #f7da64;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f7da64;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f7da64;
}
.lead a,
.lead a:hover {
  color: #f7da64;
}
.lead blockquote {
  border-color: #f7da64;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #f7da64;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header4-2 .mbr-section-title {
  text-align: right;
}
#features3-2f H4 {
  color: #ffffff;
}
#menu-5 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5 .navbar-caption {
  color: #ffffff;
}
#menu-5 .navbar-toggler {
  color: #ffffff;
}
#menu-5 .close-icon::before,
#menu-5 .close-icon::after {
  background-color: #ffffff;
}
#menu-5 .link,
#menu-5 .dropdown-item {
  color: #ffffff;
}
#menu-5 .link {
  font-size: 0.95rem;
}
#menu-5 .dropdown-item,
#menu-5 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-5 .link:hover,
#menu-5 .dropdown-item:hover,
#menu-5 .link:focus,
#menu-5 .dropdown-item:focus {
  color: #f7da64;
}
#menu-5 .link[aria-expanded="true"],
#menu-5 .dropdown-menu {
  background: #0e0e0e;
}
#menu-5 .nav-dropdown-sm .link:focus,
#menu-5 .nav-dropdown-sm .link:hover,
#menu-5 .nav-dropdown-sm .dropdown-item:focus,
#menu-5 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-5 .navbar,
#menu-5 .nav-dropdown-sm,
#menu-5 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-5 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-5 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5 .bg-color.transparent.opened .link:hover,
#menu-5 .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-5 .link[aria-expanded="true"],
#menu-5 .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-m STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-m P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}
#social-buttons1-30 .mbr-section-title {
  font-size: 14px;
}


#menu-6 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-6 .navbar-caption {
  color: #ffffff;
}
#menu-6 .navbar-toggler {
  color: #ffffff;
}
#menu-6 .close-icon::before,
#menu-6 .close-icon::after {
  background-color: #ffffff;
}
#menu-6 .link,
#menu-6 .dropdown-item {
  color: #ffffff;
}
#menu-6 .link {
  font-size: 0.95rem;
}
#menu-6 .dropdown-item,
#menu-6 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-6 .link:hover,
#menu-6 .dropdown-item:hover,
#menu-6 .link:focus,
#menu-6 .dropdown-item:focus {
  color: #f7da64;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-menu {
  background: #0e0e0e;
}
#menu-6 .nav-dropdown-sm .link:focus,
#menu-6 .nav-dropdown-sm .link:hover,
#menu-6 .nav-dropdown-sm .dropdown-item:focus,
#menu-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-6 .navbar,
#menu-6 .nav-dropdown-sm,
#menu-6 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-6 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-6 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-6 .bg-color.transparent.opened .link:hover,
#menu-6 .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#features3-2g H4 {
  color: #ffffff;
}
#contacts1-m STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-m P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}
#social-buttons1-31 .mbr-section-title {
  font-size: 14px;
}



#menu-6 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-6 .navbar-caption {
  color: #ffffff;
}
#menu-6 .navbar-toggler {
  color: #ffffff;
}
#menu-6 .close-icon::before,
#menu-6 .close-icon::after {
  background-color: #ffffff;
}
#menu-6 .link,
#menu-6 .dropdown-item {
  color: #ffffff;
}
#menu-6 .link {
  font-size: 0.95rem;
}
#menu-6 .dropdown-item,
#menu-6 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-6 .link:hover,
#menu-6 .dropdown-item:hover,
#menu-6 .link:focus,
#menu-6 .dropdown-item:focus {
  color: #f7da64;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-menu {
  background: #0e0e0e;
}
#menu-6 .nav-dropdown-sm .link:focus,
#menu-6 .nav-dropdown-sm .link:hover,
#menu-6 .nav-dropdown-sm .dropdown-item:focus,
#menu-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-6 .navbar,
#menu-6 .nav-dropdown-sm,
#menu-6 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-6 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-6 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-6 .bg-color.transparent.opened .link:hover,
#menu-6 .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#header3-g .mbr-section-title,
#header3-g .mbr-section-subtitle {
  text-align: center;
}
#header3-g H3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
}
#header3-g SPAN {
  font-size: 20px;
}
#features1-h .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-i .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features3-k H4 {
  color: #ffffff;
}
#contacts1-j STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-j P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}
#social-buttons1-32 .mbr-section-title {
  font-size: 14px;
}


#menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-l .navbar-caption {
  color: #ffffff;
}
#menu-l .navbar-toggler {
  color: #ffffff;
}
#menu-l .close-icon::before,
#menu-l .close-icon::after {
  background-color: #ffffff;
}
#menu-l .link,
#menu-l .dropdown-item {
  color: #ffffff;
}
#menu-l .link {
  font-size: 0.95rem;
}
#menu-l .dropdown-item,
#menu-l .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-l .link:hover,
#menu-l .dropdown-item:hover,
#menu-l .link:focus,
#menu-l .dropdown-item:focus {
  color: #f7da64;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-menu {
  background: #0e0e0e;
}
#menu-l .nav-dropdown-sm .link:focus,
#menu-l .nav-dropdown-sm .link:hover,
#menu-l .nav-dropdown-sm .dropdown-item:focus,
#menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-l .navbar,
#menu-l .nav-dropdown-sm,
#menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-l .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-l .bg-color.transparent.opened .link:hover,
#menu-l .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#form1-o .form-control-label {
  color: #ffffff;
}
#form1-o .mbr-section-title {
  color: #ffffff;
}
#contacts1-m STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-m P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}
#social-buttons1-2t .mbr-section-title {
  font-size: 14px;
}


#menu-q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-q .navbar-caption {
  color: #ffffff;
}
#menu-q .navbar-toggler {
  color: #ffffff;
}
#menu-q .close-icon::before,
#menu-q .close-icon::after {
  background-color: #ffffff;
}
#menu-q .link,
#menu-q .dropdown-item {
  color: #ffffff;
}
#menu-q .link {
  font-size: 0.95rem;
}
#menu-q .dropdown-item,
#menu-q .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-q .link:hover,
#menu-q .dropdown-item:hover,
#menu-q .link:focus,
#menu-q .dropdown-item:focus {
  color: #f7da64;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-menu {
  background: #0e0e0e;
}
#menu-q .nav-dropdown-sm .link:focus,
#menu-q .nav-dropdown-sm .link:hover,
#menu-q .nav-dropdown-sm .dropdown-item:focus,
#menu-q .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-q .navbar,
#menu-q .nav-dropdown-sm,
#menu-q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-q .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-q .bg-color.transparent.opened .link:hover,
#menu-q .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-r STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-r P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}


#menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-v .navbar-caption {
  color: #ffffff;
}
#menu-v .navbar-toggler {
  color: #ffffff;
}
#menu-v .close-icon::before,
#menu-v .close-icon::after {
  background-color: #ffffff;
}
#menu-v .link,
#menu-v .dropdown-item {
  color: #ffffff;
}
#menu-v .link {
  font-size: 0.95rem;
}
#menu-v .dropdown-item,
#menu-v .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-v .link:hover,
#menu-v .dropdown-item:hover,
#menu-v .link:focus,
#menu-v .dropdown-item:focus {
  color: #f7da64;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-menu {
  background: #0e0e0e;
}
#menu-v .nav-dropdown-sm .link:focus,
#menu-v .nav-dropdown-sm .link:hover,
#menu-v .nav-dropdown-sm .dropdown-item:focus,
#menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-v .navbar,
#menu-v .nav-dropdown-sm,
#menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-v .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-v .bg-color.transparent.opened .link:hover,
#menu-v .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-w STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-w P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}


#menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-12 .navbar-caption {
  color: #ffffff;
}
#menu-12 .navbar-toggler {
  color: #ffffff;
}
#menu-12 .close-icon::before,
#menu-12 .close-icon::after {
  background-color: #ffffff;
}
#menu-12 .link,
#menu-12 .dropdown-item {
  color: #ffffff;
}
#menu-12 .link {
  font-size: 0.95rem;
}
#menu-12 .dropdown-item,
#menu-12 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-12 .link:hover,
#menu-12 .dropdown-item:hover,
#menu-12 .link:focus,
#menu-12 .dropdown-item:focus {
  color: #f7da64;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-menu {
  background: #0e0e0e;
}
#menu-12 .nav-dropdown-sm .link:focus,
#menu-12 .nav-dropdown-sm .link:hover,
#menu-12 .nav-dropdown-sm .dropdown-item:focus,
#menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-12 .navbar,
#menu-12 .nav-dropdown-sm,
#menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-12 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-12 .bg-color.transparent.opened .link:hover,
#menu-12 .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-13 STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-13 P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}


#menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-18 .navbar-caption {
  color: #ffffff;
}
#menu-18 .navbar-toggler {
  color: #ffffff;
}
#menu-18 .close-icon::before,
#menu-18 .close-icon::after {
  background-color: #ffffff;
}
#menu-18 .link,
#menu-18 .dropdown-item {
  color: #ffffff;
}
#menu-18 .link {
  font-size: 0.95rem;
}
#menu-18 .dropdown-item,
#menu-18 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-18 .link:hover,
#menu-18 .dropdown-item:hover,
#menu-18 .link:focus,
#menu-18 .dropdown-item:focus {
  color: #f7da64;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-menu {
  background: #0e0e0e;
}
#menu-18 .nav-dropdown-sm .link:focus,
#menu-18 .nav-dropdown-sm .link:hover,
#menu-18 .nav-dropdown-sm .dropdown-item:focus,
#menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-18 .navbar,
#menu-18 .nav-dropdown-sm,
#menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-18 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-18 .bg-color.transparent.opened .link:hover,
#menu-18 .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-19 STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-19 P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}


#msg-box5-2m P {
  text-align: center;
}
#menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1e .navbar-caption {
  color: #ffffff;
}
#menu-1e .navbar-toggler {
  color: #ffffff;
}
#menu-1e .close-icon::before,
#menu-1e .close-icon::after {
  background-color: #ffffff;
}
#menu-1e .link,
#menu-1e .dropdown-item {
  color: #ffffff;
}
#menu-1e .link {
  font-size: 0.95rem;
}
#menu-1e .dropdown-item,
#menu-1e .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-1e .link:hover,
#menu-1e .dropdown-item:hover,
#menu-1e .link:focus,
#menu-1e .dropdown-item:focus {
  color: #f7da64;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-menu {
  background: #0e0e0e;
}
#menu-1e .nav-dropdown-sm .link:focus,
#menu-1e .nav-dropdown-sm .link:hover,
#menu-1e .nav-dropdown-sm .dropdown-item:focus,
#menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1e .navbar,
#menu-1e .nav-dropdown-sm,
#menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1e .bg-color.transparent.opened .link:hover,
#menu-1e .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-1f STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-1f P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}


#menu-1k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1k .navbar-caption {
  color: #ffffff;
}
#menu-1k .navbar-toggler {
  color: #ffffff;
}
#menu-1k .close-icon::before,
#menu-1k .close-icon::after {
  background-color: #ffffff;
}
#menu-1k .link,
#menu-1k .dropdown-item {
  color: #ffffff;
}
#menu-1k .link {
  font-size: 0.95rem;
}
#menu-1k .dropdown-item,
#menu-1k .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-1k .link:hover,
#menu-1k .dropdown-item:hover,
#menu-1k .link:focus,
#menu-1k .dropdown-item:focus {
  color: #f7da64;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-menu {
  background: #0e0e0e;
}
#menu-1k .nav-dropdown-sm .link:focus,
#menu-1k .nav-dropdown-sm .link:hover,
#menu-1k .nav-dropdown-sm .dropdown-item:focus,
#menu-1k .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1k .navbar,
#menu-1k .nav-dropdown-sm,
#menu-1k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1k .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1k .bg-color.transparent.opened .link:hover,
#menu-1k .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-1l STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-1l P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}


#menu-1p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1p .navbar-caption {
  color: #ffffff;
}
#menu-1p .navbar-toggler {
  color: #ffffff;
}
#menu-1p .close-icon::before,
#menu-1p .close-icon::after {
  background-color: #ffffff;
}
#menu-1p .link,
#menu-1p .dropdown-item {
  color: #ffffff;
}
#menu-1p .link {
  font-size: 0.95rem;
}
#menu-1p .dropdown-item,
#menu-1p .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-1p .link:hover,
#menu-1p .dropdown-item:hover,
#menu-1p .link:focus,
#menu-1p .dropdown-item:focus {
  color: #f7da64;
}
#menu-1p .link[aria-expanded="true"],
#menu-1p .dropdown-menu {
  background: #0e0e0e;
}
#menu-1p .nav-dropdown-sm .link:focus,
#menu-1p .nav-dropdown-sm .link:hover,
#menu-1p .nav-dropdown-sm .dropdown-item:focus,
#menu-1p .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1p .navbar,
#menu-1p .nav-dropdown-sm,
#menu-1p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1p .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1p .bg-color.transparent.opened .link:hover,
#menu-1p .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-1p .link[aria-expanded="true"],
#menu-1p .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-1q STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-1q P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}


#menu-1u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1u .navbar-caption {
  color: #ffffff;
}
#menu-1u .navbar-toggler {
  color: #ffffff;
}
#menu-1u .close-icon::before,
#menu-1u .close-icon::after {
  background-color: #ffffff;
}
#menu-1u .link,
#menu-1u .dropdown-item {
  color: #ffffff;
}
#menu-1u .link {
  font-size: 0.95rem;
}
#menu-1u .dropdown-item,
#menu-1u .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-1u .link:hover,
#menu-1u .dropdown-item:hover,
#menu-1u .link:focus,
#menu-1u .dropdown-item:focus {
  color: #f7da64;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-menu {
  background: #0e0e0e;
}
#menu-1u .nav-dropdown-sm .link:focus,
#menu-1u .nav-dropdown-sm .link:hover,
#menu-1u .nav-dropdown-sm .dropdown-item:focus,
#menu-1u .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1u .navbar,
#menu-1u .nav-dropdown-sm,
#menu-1u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1u .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1u .bg-color.transparent.opened .link:hover,
#menu-1u .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-1w STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-1w P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}


#menu-1z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1z .navbar-caption {
  color: #ffffff;
}
#menu-1z .navbar-toggler {
  color: #ffffff;
}
#menu-1z .close-icon::before,
#menu-1z .close-icon::after {
  background-color: #ffffff;
}
#menu-1z .link,
#menu-1z .dropdown-item {
  color: #ffffff;
}
#menu-1z .link {
  font-size: 0.95rem;
}
#menu-1z .dropdown-item,
#menu-1z .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-1z .link:hover,
#menu-1z .dropdown-item:hover,
#menu-1z .link:focus,
#menu-1z .dropdown-item:focus {
  color: #f7da64;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-menu {
  background: #0e0e0e;
}
#menu-1z .nav-dropdown-sm .link:focus,
#menu-1z .nav-dropdown-sm .link:hover,
#menu-1z .nav-dropdown-sm .dropdown-item:focus,
#menu-1z .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1z .navbar,
#menu-1z .nav-dropdown-sm,
#menu-1z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1z .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1z .bg-color.transparent.opened .link:hover,
#menu-1z .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-1z .link[aria-expanded="true"],
#menu-1z .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-21 STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-21 P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}


#menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-24 .navbar-caption {
  color: #ffffff;
}
#menu-24 .navbar-toggler {
  color: #ffffff;
}
#menu-24 .close-icon::before,
#menu-24 .close-icon::after {
  background-color: #ffffff;
}
#menu-24 .link,
#menu-24 .dropdown-item {
  color: #ffffff;
}
#menu-24 .link {
  font-size: 0.95rem;
}
#menu-24 .dropdown-item,
#menu-24 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-24 .link:hover,
#menu-24 .dropdown-item:hover,
#menu-24 .link:focus,
#menu-24 .dropdown-item:focus {
  color: #f7da64;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-menu {
  background: #0e0e0e;
}
#menu-24 .nav-dropdown-sm .link:focus,
#menu-24 .nav-dropdown-sm .link:hover,
#menu-24 .nav-dropdown-sm .dropdown-item:focus,
#menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-24 .navbar,
#menu-24 .nav-dropdown-sm,
#menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-24 .bg-color.transparent.opened .link:hover,
#menu-24 .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-26 STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-26 P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}


#menu-2u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2u .navbar-caption {
  color: #ffffff;
}
#menu-2u .navbar-toggler {
  color: #ffffff;
}
#menu-2u .close-icon::before,
#menu-2u .close-icon::after {
  background-color: #ffffff;
}
#menu-2u .link,
#menu-2u .dropdown-item {
  color: #ffffff;
}
#menu-2u .link {
  font-size: 0.95rem;
}
#menu-2u .dropdown-item,
#menu-2u .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-2u .link:hover,
#menu-2u .dropdown-item:hover,
#menu-2u .link:focus,
#menu-2u .dropdown-item:focus {
  color: #f7da64;
}
#menu-2u .link[aria-expanded="true"],
#menu-2u .dropdown-menu {
  background: #0e0e0e;
}
#menu-2u .nav-dropdown-sm .link:focus,
#menu-2u .nav-dropdown-sm .link:hover,
#menu-2u .nav-dropdown-sm .dropdown-item:focus,
#menu-2u .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-2u .navbar,
#menu-2u .nav-dropdown-sm,
#menu-2u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2u .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-2u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2u .bg-color.transparent.opened .link:hover,
#menu-2u .bg-color.transparent.opened .link:focus {
  color: #f7da64;
}
#menu-2u .link[aria-expanded="true"],
#menu-2u .dropdown-item[aria-expanded="true"] {
  color: #f7da64!important;
}
#contacts1-2v STRONG {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#contacts1-2v P {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
}
